- var fontlist = [ "851手書き雑フォント", "中楷體", "瀨戶字体", "花園明朝", "中仿宋體", "刻石錄明體", "站酷快乐体2016修订版", "衡山毛筆", "中圓體", "刻石錄鋼筆鶴體", "站酷高端黑体修订2015", "中明體", "刻石錄顏體", "粗黑體", "王漢宗中隸書", "王漢宗粗明", "王漢宗中魏碑簡體", "王漢宗粗楷體簡體", "王漢宗仿宋體", "王漢宗粗鋼體", "王漢宗中仿宋", "王漢宗勘流亭", "王漢宗粗黑體實陰", "王漢宗中仿宋簡體", "王漢宗標楷體空心", "王漢宗細圓", "王漢宗中明", "王漢宗正海報", "王漢宗細新宋簡體", "王漢宗中明注音體", "王漢宗波卡體空陰", "王漢宗細明", "王漢宗中明破音字1", "王漢宗波浪體", "王漢宗細黑", "王漢宗中明破音字2", "王漢宗海報體半天水", "王漢宗綜藝體", "王漢宗中明破音字3", "王漢宗特圓", "王漢宗綜藝體雙空陰", "王漢宗中楷注音體", "王漢宗特明", "王漢宗超明", "王漢宗中楷破音字1", "王漢宗特明體", "王漢宗超黑俏皮動物", "王漢宗中楷破音字2", "王漢宗特黑", "王漢宗酷儷海報", "王漢宗中楷破音字3", "王漢宗疊圓", "王漢宗鋼筆行楷", "王漢宗中行書", "王漢宗粗圓體雙空", "王漢宗顏體" ];
- var featurefonts = ["瀨戶字体", "衡山毛筆", "王漢宗粗鋼體", "王漢宗綜藝體", "王漢宗波浪體"];

