html,
body {
  margin: 0;
  padding: 0;
  color: #343638;
  font-size: 20px;
}
h1,
h2,
h3 {
  color: #000;
}
textarea::placeholder {
  color: #b5b9bc !important;
}
#root {
  margin: 20px auto;
  padding: 20px 0 60px;
  max-width: 1200px;
  width: 90%;
}
#root textarea {
  font-size: 30px;
}
h1 ruby {
  -webkit-ruby-position: over;
  font-size: 0.85em;
}
h1 ruby rt {
  font-size: 14px;
}
#chooser .btn {
  font-size: 20px;
}
#footer {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-weight: 400;
}
pre.code {
  background: #e5e7e9;
  border-radius: 0.5em;
  padding: 1.5em;
  font-family: monospace;
}
